

$primary: #0a2463;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');


$max-width: 960px;

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	padding-top: 86px
}

// DEFAULT STYLES

h1,h2,h3,h4,h5 {
margin-bottom: 0;
}

.highlight {
	background-color: $primary;
	color: white;
	padding: 5px;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
  	grid-gap: 20px;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: $primary;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header-brand {
	display: flex;
	align-items: center;
}

.header-title {
	margin: 0;
}
.header-navigation {
	grid-column: span 6;
	list-style: none;
	margin-left: 0;
	display: inline-block;
	text-align: right;
	padding-left: 0;

}

#header-logo {

	margin-right: 10px;
}



.header-navigationItem {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.header-navigationItem a {
	text-decoration: none;
	color: inherit;
}

.header-navigationItemActive {
	opacity: 0.6;
}

@media screen and (max-width: 450px) {

	.header-brand, .header-navigation {
		grid-column: span 12;
		text-align: center;
	}




}

.welcome-wrapper {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.welcome {
	padding-top: 100px;
	padding-bottom: 100px;
}

@media screen and (max-width: 750px) {

	.welcome {
	padding-top: 40px;
	padding-bottom: 40px;
}
}

.welcome-heading {
	font-size: 38px;
}

.welcome-tagline {
	margin-bottom: 30px;
}
.welcome-emailButton {
	color: white;
	background-color: $primary;
        padding: 10px;
	margin-right: 15px;
	text-decoration: none;
	font-weight: 700;
	border-style: solid;
	border-width: 2px;
	border-color: $primary;

}

.welcome-emailButton i {
	padding-bottom: 2px;
}

.welcome-emailButton:hover {
	opacity: 0.75;
}

.welcome-callButton {
	color: $primary;
	border-style: solid;
	border-width: 2px;
	border-color: $primary;
        padding: 10px;
	margin-right: 15px;
	text-decoration: none;
	font-weight: 700;
}

.welcome-callButton:hover {
	background-color: $primary;
	color: white;
}

@media screen and (max-width: 750px) {
	.welcome-callButton, .welcome-emailButton {
		display: block;
		margin-bottom: 10px;
		padding-top: 4px;
	}
}

.welcome-buttonIcon {
	position: relative;
	top: 6px;
	margin-right: 3px;


}

.feather-phone-call {
	margin-right: 7px;
}

#informationSection {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 80px;
	padding-left: 10px;
	padding-right: 10px;

}

@media screen and (max-width: 700px) {

	#informationSection {
		grid-template-columns: 1fr;
	}
}

.services {
grid-column: span 1;
}

.about {
grid-column: span 1;
}


.testimonial-wrapper {
	background-image: url('/images/pattern.png');
	padding-top: 100px;
	padding-bottom: 100px;


}
.testimonial{
background-color: $primary;
max-width: 960px;
margin-right: auto;
margin-left: auto;
color: white;
padding: 70px;
}

@media screen and (max-width: 750px) {
	.testimonial {
		padding: 30px;
	}
}

.testimonial-quote {
	font-size: 28px;
	margin-left: 0;
	margin-top: 0;
}

.testimonial-attribute {
	opacity: 0.65;
	font-size: 20px;
	text-align: right;
}

footer {
	background-color: $primary;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.footer-wrapper {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.blog-header {
max-width: $max-width;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
margin-bottom: 100px;

color: $primary;
border: 15px solid $primary;
padding: 70px;
}

.blog-heading {
	margin-top: 0;
}

.contact-header {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	background-color: $primary;
	padding: 40px;
	color: white;
	margin-top: 100px;
	margin-bottom:100px;
}

.contact-heading {
	margin-top: 0;
}



.contact-form label, input {
	display: block;
}

form {

}

input {
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	padding: 10px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.73);

}
textarea {
	border: 1px solid #dddddd;
	border-radius: 3px;
	font: inherit;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 17px;
	width: 400px;
	padding: 10px;
	color: rgba(0, 0, 0, 0.73);
}


.contact-submit {
	background-color: $primary;
	font-weight: 700;
	color: white;
	border: 0;
}

#POST-email {
	width: 250px;
}

.contact {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;

	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;

	margin-bottom: 100px;

}

form {
	grid-column: span 1;
}

.contact-details {
	grid-column: span 1;
}

.contact-details {
	color: white;
	background-color: $primary;
	padding: 30px;

}

.contact-details h2 {
	margin-top: 0;
}

.contact-details ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.contact-details ul li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.contact-details ul li svg {
	margin-right: 7px;
}
