<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="format-detection" content="telephone=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Brunel Web" %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">

<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </head>
  <body>

    <header>
    	<div class="header-wrapper">
    		<div class="header-brand"><img id="header-logo" src="/images/ship.svg" height="40px"><h2 class="header-title">Brunel Web</h2></div>
    	<ul class="header-navigation">
    		<li class="header-navigationItem"><a href="/" id="homeLink">Home</a></li>
    		<li class="header-navigationItem"><a href="/contact" id="contactLink">Contact</a></li>
    	</ul>
    	</div>
    </header>
	  <%= yield %>
    <footer>
    	<div class="footer-wrapper">
    	<small>Copyright (c) 2017 Brunel Web. All Rights Reserved. </small>
    	</div>
    </footer>
	  <script>
  feather.replace()
</script>
<noscript id="deferred-styles">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    </noscript>
<script>
   var loadDeferredStyles = function() {
     var addStylesNode = document.getElementById("deferred-styles");
     var replacement = document.createElement("div");
     replacement.innerHTML = addStylesNode.textContent;
     document.body.appendChild(replacement)
     addStylesNode.parentElement.removeChild(addStylesNode);
   };
   var raf = requestAnimationFrame || mozRequestAnimationFrame ||
       webkitRequestAnimationFrame || msRequestAnimationFrame;
   if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
   else window.addEventListener('load', loadDeferredStyles);
 </script>
  </body>
</html>
