---
title: Brunel Web
---

<style>
#homeLink {
	opacity: 0.6;
}
</style>



<main>

<section class="welcome">
	<div class="welcome-wrapper">
		<h1 class="welcome-heading">We design websites to increase your sales.</h1>
	<p class="welcome-tagline">Brunel Web use modern web technologies to expose your business to thousands of potential new customers. Are you ready to benefit from free exposure on major search engines?  Get in touch for a free consultation.</p>
	<a class="welcome-emailButton" href="mailto:james@brunelweb.com"><i data-feather="mail" class="welcome-buttonIcon" aria-hidden="true"></i>
Click here to send an email.</a>
	<a class="welcome-callButton" href="tel:+447402332224"><i data-feather="phone-call" class="welcome-buttonIcon" aria-hidden="true" id="callIcon"></i>Alternatively, call 07402 332224.</a>
	</div>
</section>

<section id="informationSection">
	<div class="services">
		<h2>Services</h2>
		<p>Your business can benefit from our wide range of web design and development services. Please get in touch to arrange a free, no-obligation consultation.</p>
		<ul>
			<li>Website design</li>
			<li>Website development</li>
			<li>Search engine optimisation</li>
			<li>Installation of content management systems</li>
			<li>Improving website performance (loading times)</li>
	</div>

	<div class="about">
		<h2>About</h2>
		<p>Brunel Web is a web design agency that believes in bespoke design. This means our sites are built from scratch with your target audience in mind. Unlike many other agenices, we avoid generic templates and bloated Wordpress sites.</p>
		<p>We also specialise in site optimisation - i.e. using our extensive experience to tweak your site in order to improve its ranking on search engines. This is a great way to drive visitors to your site and generate leads from free organic traffic.</p>
	</div>


</section>

<div class="testimonial-wrapper">
	<div class="testimonial">
		<blockquote class="testimonial-quote">We have been continually impressed by Brunel Web's ability to produce stunning landing pages for our line of software products.</blockquote>
		<span class="testimonial-attribute">J. Yuunes, Edge Curation</span>
	</div>
</div>


</main>
